    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="event"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.blurb }}"/>
    <meta property="og:url" content="https://www.tulipride.org{{ page.permalink }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:image" content="{{ page.image }}"/>
    <meta property="fb:app_id" content="655104572005799" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="{{ page.blurb }}"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:site" content="@TulipRide"/>
    <meta name="twitter:image" content="{{ page.image }}"/>
    <meta content="{{ page.image }}" name="twitter:image">
    <meta name="twitter:creator" content="@TulipRide"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Palanquin:wght@300;600&display=swap" rel="stylesheet"/>