---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    {% include meta.html %}

  </head>
  <body>


    <div id="main">
    <div id="banner">
    <img id="banner" src="/assets/images/siteheader.jpg">
    </div>

    <div id="menu">
        <div class="{% if page.name == 'index.md' %}menuitemSelected{% else %}menuitem{% endif %}"><a href="/">home</a></div>
        
        <div class="{% if page.name == 'register.md' %}menuitemSelected{% else %}menuitem{% endif %}"><a href="/register/">register</a></div>
        <div class="{% if page.name == 'route.md' %}menuitemSelected{% else %}menuitem{% endif %}"><a href="/route/">route</a></div>
        <div class="{% if page.name == 'sponsors.md' %}menuitemSelected{% else %}menuitem{% endif %}"><a href="/sponsors/">sponsors</a></div>
        <div class="{% if page.name == 'faq.md' %}menuitemSelected{% else %}menuitem{% endif %}"><a href="/faq/">faq</a></div>
      </div>

    <div id="content">
    {{ content}}
    </div>
    </div>
    <div id="footer">

      <a href="http://www.twitter.com/TulipRide" target="_blank"><img class="socimg" src="/assets/images/twitter.png" /></a>
  <a href="https://www.instagram.com/tulipride/" target="_blank"><img class="socimg" src="/assets/images/instagram.png" /></a>
      <a href="mailto:info@tulipride.org"><img class="socimg" src="/assets/images/email.png" /></a>
  <a href="http://www.facebook.com/TulipRide" target="_blank"><img class="socimg" src="/assets/images/facebook.png" /></a>
    </div>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-21037072-2']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</body>
</html>




  